@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont.ttf') format('ttf');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-white: #fff;
  --color-black: #202224;
  --color-black-void: #000;
  --color-gray: #f4f7f9;
  --color-gray-border: #c4c4c4;
  --color-gray-dark: #272727;
  --color-gray-checkbox: #B9C5CD;
  --color-gray-border-dark: rgba(255, 255, 255, 0.2);
  --color-gray-step: #e8e8e8;
  --color-gray-text-dark: rgba(32, 34, 36, 0.7);
  --color-red: #f91e45;
  --color-red-dark: #da1537;
  --color-red-light: #ff5151;
  --color-red-subtle: #fef4f1;
  --color-red-lightest: #FFF1F1;
  --color-orange: #ff891d;
  --color-yellow: #feba28;
  --color-yellow-light: #ffecbb;
  --color-yellow-subtle: rgba(255, 184, 0, 0.1);
  --color-blue: #2f9bff;

  --background-image-order-hero: url('../assets/images/bg_order.jpg');
  --background-image-separator-wave-sm: url('../assets/images/separator_wave_sm.svg');
  --background-image-separator-wave: url('../assets/images/separator_wave.svg');
  --background-image-application-bottom-left: url('../assets/images/application__bottom_left.jpg');
  --background-image-application-bottom-right: url('../assets/images/application__bottom_right.jpg');

  --height-order: 741px;
  --container-xl: 1360px;
  --font-family-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --text-xs: 12px;
  --leading-xs: 130%;
  --text-sm: 14px;
  --leading-sm: 1.8;
  --text-md: 18px;
  --leading-md: 120%;
  --text-l: 20px;
  --leading-l: 120%;
  --text-xl: 30px;
  --text-2xl: 50px;
  --text-3xl: 62px;
  --leading-3xl: 68.2px;
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1360px) {
    .container {
      max-width: var(--container-xl);
    }
  }
}

::selection {
  background: var(--color-red);
  color: white;
}

::-moz-selection {
  background: var(--color-red);
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-gray);
  font-family: var(--font-family-sans), sans-serif;
  font-size: 18px;
}
